####################################################################################################
# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                           _              _         __             _                          | #
# |                          /_\   ___ _   _| |_ ___  / /  ___   ___ | |_                        | #
# |                         //_\\ / __| | | | __/ _ \/ /  / _ \ / _ \| __|                       | #
# |                        /  _  \ (__| |_| | ||  __/ /__| (_) | (_) | |_                        | #
# |                        \_/ \_/\___|\__,_|\__\___\____/\___/ \___/ \__|                       | #
# |                                                                                              | #
# |                                                                                              | #
# |                                                                                              | #
# |                                                                                              | #
# |                    SOURCE CODE: https://github.com/zizmax/AcuteLoot                          | #
# |                                                                                              | #
# |                    BUG REPORTS: https://github.com/zizmax/AcuteLoot/issues                   | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #
####################################################################################################

# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                             CORE                                             | #
# |                                                                                              | #
# |                       Core configuration for AcuteLoot's basic features                      | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #

# What should go between names and prefixes and suffixes
conjunction: "of"

# False means that permissions are ignored. When false: OPs can do everything and non-OPs can enchant only
use-permissions: true

# Names that look like Japanese katakana syllables (not in .txt files)
kana-namegen: true

# Only relevant if global-loot-name-color is true. See below for color options
loot-name-color: "&3"

# Should all AcuteLoot have the same name color? Colors match rarity colors when false
global-loot-name-color: false

# Color of the effects of all AcuteLoot. See below for color options
loot-effect-color: "&d"

# Debug mode (set to false unless you are actually trying to debug something. It will change the behavior of the plugin)
debug: false

# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                                                                              | #
# |                                       Loot Settings                                          | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #
loot-sources:
  enchanting:
    enabled: true
    chance: 100 #Percentage
  fishing:
    enabled: true
    chance: 10 #Percentage
  chests: # Naturally generated chests ONLY e.g. chests in dungeons
    enabled: true
    # This is the chance for any loot to appear in chest as well as additional loot.
    # Example: 1 loot = 65% chance, 2 loot = 0.65 * 0.65 = 42.25% chance and so on
    chance: 65 #Percentage
    show-cooldown-msg: true

# This is the chance for the "next" vanilla enchantment for random loot (from fishing, chests and /al new command
# All individual enchantments have an equal chance. i.e. Sharpness is just as common as Bane of Arthropods
# Example: 1 enchantment = 65% chance, 2 enchantments = 0.65 * 0.65 = 42.25% chance and so on
enchantment-chance: 65 #Percentage

loot-category-lore:
  enabled: true
  axe:
    - "&7Axe"
  boots:
    - "&7Boots"
  bow:
    - "&7Bow"
  chest_plate:
    - "&7Chestplate"
  fishing_rod:
    - "&7Fishing Rod"
  generic:
    - "&7Generic"
  helmet:
    - "&7Helmet"
  hoe:
    - "&7Hoe"
  pants:
    - "&7Leggings"
  pick:
    - "&7Pick"
  shovel:
    - "&7Shovel"
  sword:
    - "&7Sword"
  trident:
    - "&7Trident"
  unknown:
    - "&7Unknown"


# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                                                                              | #
# |                                         Rarities                                             | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #

# Rarities MUST be listed in order of ID number and chance (Most common to least common)
# ID numbers are arbitrary (they are used internally by the plugin to keep track of a rarity even if the name changes)
# You can add new (and remove old) rarities as you see fit as long as you edit the ID's to match
# The ID does not have to go in increments of 100. That is just used so that you have room for rarities in between
# The chances don't HAVE to add up to 100% but you'll get more accurate probabilities if they do
# Effect chance is chance that loot of that rarity will have ANY effect
rarities:
  100: #ID
    name: "Common"
    color: "&f"
    chance: 45
    effect-chance: 10
  200: #ID
    name: "Uncommon"
    color: "&a"
    chance: 30
    effect-chance: 30
  300: #ID
    name: "Epic"
    color: "&d"
    chance: 15
    effect-chance: 70
  400: #ID
    name: "Legendary"
    color: "&6"
    chance: 10
    effect-chance: 100

# Possible colors
# If you choose a letter/number outside of this list, the effect will not work correctly!
# Make sure to include the '&' before ALL codes. You can stack a color with a style, just make sure style comes second
# E.g. &9&l is bold blue
  #&4 dark_red
  #&c red
  #&6 gold
  #&e yellow
  #&2 dark_green
  #&a green
  #&b aqua
  #&3 dark_aqua
  #&1 dark_blue
  #&9 blue
  #&d light_purple
  #&5 dark_purple
  #&f white
  #&7 gray
  #&8 dark_gray
  #&0 black
  #&l Bold
  #&o Italic
  #&n Underline
  #&m Strike
  #&k Magic

# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                                                                              | #
# |                                           Effects                                            | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #

effects:
  enabled: true
  # ONLY change "name" and "chance" values
  # Changing the top level label of an effect WILL BREAK THE PLUGIN
  # Individual effects can be entirely disabled by setting chance to 0. DO NOT DELETE AN EFFECT TO DISABLE IT
  # Effect chances are the chance that a specific effect will be chosen out of the effects applicable to that item/material
  # Example: When enchanting a bow, having ANY effect is based on rarity, but the specific effect it has will be chosen out of the bow effects according to chances below

  # Miscellaneous Effects

  # Boots
  gardener: # Applicable only to boots
    name: "Gardener"
    chance: 90
    enabled: true
  timewalker: #Applicable only to boots
    time-shift: 150 # Measured in ticks. E.g. 150 / 20 = 7.5 seconds (20 ticks/second under normal conditions)
    name: "Time Walker"
    chance: 50 # This is the second effect for boots, after gardener.
    enabled: true
    durability-modifier: 1

  # Bows
  enderbow: # Applicable only to bows and crossbows
    # Launches the shooter like an arrow
    name: "Enderbow"
    chance: 5
    enabled: true
  dead-eye:
    effect-time: 60 # Measured in ticks. E.g. 60 / 20 = 3 seconds (20 ticks/second under normal conditions)
    cooldown-time: 60 # Measured in ticks. E.g. 60 / 20 = 3 seconds (20 ticks/second under normal conditions)
    vanilla-enchantments: true # Should Dead Eye be affected by enchantments like Infinity, Punch and Power
    durability-modifier: 1
    name: "Dead Eye"
    chance: 2
    enabled: true
  medusa:
    affect-players: true # Should players hit by these arrows turn to stone and die?
    death-message: "turned to stone" # Example: [player] turned to stone
    drop-loot: true # Should mobs drop their inventory when they are hit?
    name: "Gorgo"
    chance: 2
    enabled: true

  # Helmets
  xp-boost: # Applicable only to helmets
    boost-amount: 1 # Can be changed, measured in raw XP (integer), not a percentage/multiplier
    name: "XP Boost"
    chance: 1 # Changing this won't do anything currently because it is the only effect for helmets
    enabled: true

  # Bow and Crossbow Particle Effects
  bows:
    heart:
      # Heals target equal to amount of damage dealt, including player
      name: "Love"
      chance: 5
      enabled: true
    purple-spark:
      name: "Cursed"
      chance: 20
      enabled: true
    lava:
      name: "Lava"
      chance: 10
      enabled: true
    drip:
      name: "Linger"
      chance: 30
      enabled: true
    sparkle:
      name: "Sparkle"
      chance: 30
      enabled: true

  # Weapons Particle Effects (swords, axes)
  weapons:
    max-distance: 15 # Can be changed. How far out the effect will render. Very large values may be unstable
    laser:
      name: "Laser"
      chance: 4
      enabled: true
    note:
      name: "Music"
      chance: 4
      enabled: true
    lava:
      name: "Lava"
      chance: 2
      enabled: true
    enchanting-table:
      name: "Mythic"
      chance: 10
      enabled: true
    potion-effect:
      name: "Loopy"
      chance: 10
      enabled: true
    nautilus:
      name: "Magic"
      chance: 10
      enabled: true
    slime:
      name: "Sticky"
      chance: 30
      enabled: true
    water-splash:
      name: "Splash"
      chance: 30
      enabled: true

# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                                                                              | #
# |                                           Salvager                                           | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #
# WARNING: Salvager is in [BETA]
# It's ~mostly~ tested, but there are no guarantees it won't break something
# Enable at your own risk
salvager:
  enabled: false

# This configuration section is quite complex and needs to be 100% accurate to avoid errors
# Pay careful attention to spacing/indentation
# If command is blank or missing, the item itself will be given to player
# If command is provided, item itself will be deleted and command will execute as server
salvager-drops:
  100: # Rarity ID, MUST match a rarity ID above
    output_1: # Output ID, can be anything
      loot-types: # MUST be valid AcuteLoot material categories. See 'loot-category-lore' above for list
        - "sword"
        - "axe"
      drops:
        drop_1: # Drop ID, can be anything
          material: "GOLD_INGOT" # MUST be valid material. Examples: https://www.digminecraft.com/lists/item_id_list_pc.php
          name: "Get 100 coins"
          command: "money add {PLAYER} 100"
        drop_2:
          material: "STICK"
          name: "Special stick"
    output_2:
      loot-types:
        - "bow"
      drops:
        drop_1:
          material: "STRING"
          name: "Death string"
          command: "kill {PLAYER}"
        drop_2:
          material: "STICK"
          name: "Special Stick"
          command: ""

# +----------------------------------------------------------------------------------------------+ #
# |                                                                                              | #
# |                                                                                              | #
# |                                           Messages                                           | #
# |                                                                                              | #
# |                                                                                              | #
# +----------------------------------------------------------------------------------------------+ #

msg:
  salvage:
    inv-name: "&6[&8AcuteLoot&6] &4Salvager"
    no-item: "No item in salvage slot!"
    not-salvagable: "Input not salvagable!"
    already-salvaged: "Already salvaged!"
    name: "&4Salvager"
    cancel-button: "&cCancel"
    help-name: "&8Salvager Help"
    help-lore:
      - "&dClick the &4Salvager &dto see output"
      - "&dThen click the &agreen &dpane to confirm"
    pre-salvage-button: "&7Click the &4Salvager &7first"
    cancel: "Salvaged cancelled"

  chests:
    cooldown-remaining: "Remaining cooldown:"

  generic:
    not-acuteloot: "Item is not AcuteLoot!"
