name: Publish Release to GitHub, Modrinth, and CurseForge

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Publish to Platforms
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 'Pool7IDt'
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          
          curseforge-id: '1435261'
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          
          github-token: ${{ secrets.GITHUB_TOKEN }}

          files: |
            target/AcuteLoot-*.jar
            !target/AcuteLoot-*-shaded.jar
            !target/*-sources.jar
            !target/*-javadoc.jar
            !target/original-*.jar
